@charset "UTF-8";
* {margin: 0; padding: 0;}

.전체 {
    border: 5px solid navy;
    position: relative;
    width: 1400px;
    margin: 30px auto 0; /* 상,좌우,하 */
    height: 700px;
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
}
.배너 {
    border: 5px solid skyblue;
    width: 300px;
    position: absolute;
    left: 300px; bottom: -300px;
}
.배너 img {width: 100%;}